<a href="https://colab.research.google.com/github/ShaziaOngit/Assignment_01_to_05/blob/main/data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_int: int = 42

print(type(num_int)," num_int = ",num_int,)  # <class 'int'>

<class 'int'>  num_int =  42

##b. Floating-Point (float)
Numbers with decimal points.

In [ ]:
num_float: float = 3.14
#num_float: float = .14

print(type(num_float), " num_float = ", num_float)  # <class 'float'>

<class 'float'>  num_float =  0.14

##c. Complex (complex)
Numbers with a real and imaginary part.

In [ ]:
num_complex: complex = 2 + 3j

print(type(num_complex), " num_complex = ", num_complex)  # <class 'complex'>

<class 'complex'>  num_complex =  (2+3j)

In [ ]:
z = 3 + 4j

print("Real Part:", z.real)   # Output: 3.0
print("Imaginary Part:", z.imag)  # Output: 4.0

Real Part: 3.0
Imaginary Part: 4.0

# **2. Boolean (bool)**
Represents True or False.

In [ ]:
is_python_fun: bool = True #False

print(type(is_python_fun), " is_python_fun = ", is_python_fun)  # <class 'bool'>

<class 'bool'>  is_python_fun =  True

In [ ]:
text_double: str  = "Hello, Python!" # Strings with Double Quotes (")
text_single: str  = 'Hello, Python!' # Strings with Single Quotes (')
text_multi: str   = '''Hello, Python!''' # Multi-Line Strings with Triple Quotes (''' or """)
text_multi_1: str = """Hello, Python!""" # Multi-Line Strings with Triple Quotes (''' or """)

print(type(text_double), " text_double   = ", text_double)    # <class 'str'>
print(type(text_single), " text_single   = ", text_single)    # <class 'str'>
print(type(text_multi), " text_multi    = ", text_multi)      # <class 'str'>
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)  # <class 'str'>

<class 'str'>  text_double   =  Hello, Python!
<class 'str'>  text_single   =  Hello, Python!
<class 'str'>  text_multi    =  Hello, Python!
<class 'str'>  text_multi_1  =  Hello, Python!

# **3. Sequence Types**
These store multiple items in an ordered way.

##a. String (str)
A sequence of characters enclosed in quotes.

In [ ]:
text_double: str  = "Hello, Python!" # Strings with Double Quotes (")
text_single: str  = 'Hello, Python!' # Strings with Single Quotes (')
text_multi: str   = '''Hello, Python!''' # Multi-Line Strings with Triple Quotes (''' or """)
text_multi_1: str = """Hello, Python!""" # Multi-Line Strings with Triple Quotes (''' or """)

print(type(text_double), " text_double   = ", text_double)    # <class 'str'>
print(type(text_single), " text_single   = ", text_single)    # <class 'str'>
print(type(text_multi), " text_multi    = ", text_multi)      # <class 'str'>
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)  # <class 'str'>

<class 'str'>  text_double   =  Hello, Python!
<class 'str'>  text_single   =  Hello, Python!
<class 'str'>  text_multi    =  Hello, Python!
<class 'str'>  text_multi_1  =  Hello, Python!

##b. List (list)
An ordered, mutable collection.

In [ ]:
my_list_1: int = [1, 2, 3, "Java", 3.14, True] #Type hinting is not enforced in python, but you should mention appropriate data type in this case 'list'
my_list: list = [1, 2, 3, "Python", 3.14, 3+2j]

print(type(my_list_1), " my_list_1 = ", my_list_1)  # <class 'list'>
print(type(my_list), " my_list   =  " + str(my_list)) # we will look into type casting in classes ahead

<class 'list'>  my_list_1 =  [1, 2, 3, 'Java', 3.14, True]
<class 'list'>  my_list   =  [1, 2, 3, 'Python', 3.14, (3+2j)]

##c. Tuple (tuple)
An ordered, immutable collection.

In [ ]:
my_tuple: tuple = (1, 2, 3, "AI", 2.71, False, .3 , 3+2j )
print(type(my_tuple), " my_tuple = ", my_tuple )  # <class 'tuple'>

<class 'tuple'>  my_tuple =  (1, 2, 3, 'AI', 2.71, False, 0.3, (3+2j))

## d. Range (range)
Represents a sequence of numbers.

In [ ]:
num_range: range = range(1, 10, 2) # range(start, stop, step)
print(type(num_range), " num_range = ", num_range.step)  # <class 'range'>

<class 'range'>  num_range =  2

In [ ]:
for i in range(1, 10, 2): # we will study loops indepth in classes ahead
  print(i)

1
3
5
7
9

# **4. Set Types**
`(We will cover this indepth in classes ahead)`

Unordered collections with unique elements.

## a. Set (set)
`Mutable`, `unordered`, and contains `unique values`.

In [ ]:
my_set: set = {1, 2, 33, 4, 4, 5}
print(type(my_set), "my_set = ", my_set)  # <class 'set'>

<class 'set'> my_set =  {1, 2, 33, 4, 5}

## b. Frozen Set (frozenset)
Immutable version of a set.

In [ ]:
frozen_set = frozenset([11, 2, 3, 4, 4, 5])
#frozen_set = frozenset(my_set)
print(type(frozen_set), " frozen_set = ", frozen_set)  # <class 'frozenset'>

<class 'frozenset'>  frozen_set =  frozenset({1, 2, 33, 4, 5})

# **5. Mapping Type**

Dictionary (dict)
Stores key-value pairs.

In [ ]:
my_dict: dict = {"name": "Alice", "age": 25, "language": "Python"}
print(type(my_dict)," my_dict = ", my_dict )  # <class 'dict'>

<class 'dict'>  my_dict =  {'name': 'Alice', 'age': 25, 'language': 'Python'}

In [ ]:
byte_data: bytes = b"Hello"
print(type(byte_data), " byte_data = ", byte_data)  # <class 'bytes'>

<class 'bytes'>  byte_data =  b'Hello'