<a href="https://colab.research.google.com/github/ShaziaOngit/Assignment_01_to_05/blob/main/tuples_Dict_List_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"Tuples"

In [ ]:
# Note : In case of list, we use square
# brackets []. Here we use round brackets ()
tup = (10, 20, 30)

print(tup)
print(type(tup))

(10, 20, 30)
<class 'tuple'>

In [ ]:
tup = (1, 2, 3, 4, 2, 3)
# Create a new tuple with the modified element
new_tup = tup[:1] + (100,) + tup[2:]
print(new_tup)  # Output: (1, 100, 3, 4, 2, 3)

my_list = [1, 2, 3, 4, 2, 3]
my_list[1] = 100
print(my_list)  # Output: [1, 100, 3, 4, 2, 3]

(1, 100, 3, 4, 2, 3)
[1, 100, 3, 4, 2, 3]

In [ ]:
tup = (10, 5, 20)

print("Value in tup[0] = ", tup[0])
print("Value in tup[1] = ", tup[1])
print("Value in tup[2] = ", tup[2])

Value in tup[0] =  10
Value in tup[1] =  5
Value in tup[2] =  20

In [ ]:
tup = (10, 5, 20)

print("Value in tup[-1] = ", tup[-1])
print("Value in tup[-2] = ", tup[-2])
print("Value in tup[-3] = ", tup[-3])

Value in tup[-1] =  20
Value in tup[-2] =  5
Value in tup[-3] =  10

In [ ]:
# Define a tuple
tup = (1, 2, 3, 4, 5)

# Traverse through each item in the tuple
for x in tup:
    print(x, end=" ")

1 2 3 4 5

In [ ]:
# Code for concatenating 2 tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

# Concatenating above two
print(tup1 + tup2)

(0, 1, 2, 3, 'python', 'geek')

In [ ]:
# Code to create a tuple with repetition
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

In [ ]:
# code to test slicing
tup = (0 ,1, 2, 3)

print(tup[1:])
print(tup[::-1])
print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [ ]:
tup = (0, 1)
#del tup # This line is commented out to prevent the deletion of the tuple
print(tup) # This will now successfully print the tuple (0, 1) because it still exists

(0, 1)

In [ ]:
# Code for printing the length of a tuple
tup = ('python', 'geek')
print(len(tup))

2

In [ ]:
# tuple with different datatypes
tup = ("immutable", True, 23)
print(tup)

('immutable', True, 23)

In [ ]:
# Code for converting a list and a string into a tuple
a = [0, 1, 2]
tup = tuple(a)

print(tup)

(0, 1, 2)

In [ ]:
# python code for creating tuples in a loop
tup = ('gfg',)

# Number of time loop runs
n = 5
for i in range(int(n)):
    tup = (tup,)
    print(tup)

(('gfg',),)
((('gfg',),),)
(((('gfg',),),),)
((((('gfg',),),),),)
(((((('gfg',),),),),),)

In [ ]:
tup = ("gfg", "Python")
print(tup)

('gfg', 'Python')

In [ ]:
# Creating a tuple without brackets
tup = 4, 5, 6
print(tup)

(4, 5, 6)

In [ ]:
# Creating a tuple using the tuple() constructor
tup = tuple([7, 8, 9])
print(tup)

(7, 8, 9)

In [ ]:
# Creating a single-element tuple
tup = (10, ) # Comma is important here
print(tup)  # Output: (10,)
print(type(tup))

# What if we do not use comma
tup = (10) # This an integer (not a tuple)
print(tup)
print(type(tup))

(10,)
<class 'tuple'>
10
<class 'int'>

In [ ]:
# Tuple packing
a, b, c = 11, 12, 13
tup = (a, b, c)
print(tup)

(11, 12, 13)

In [ ]:
"Dictionaries in Python"

In [ ]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [ ]:
# create dictionary using { }
d1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "Geeks", b = "for", c = "Geeks")
print(d2)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'a': 'Geeks', 'b': 'for', 'c': 'Geeks'}

In [ ]:
d = { "name": "Alice", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Alice
Alice

In [ ]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}

# Adding a new key-value pair
d["age"] = 22

# Updating an existing value
d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'For', 3: 'Geeks', 'age': 22}

In [ ]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks', 'age':22}

# Using del to remove an item
del d["age"]
print(d)

# Using pop() to remove an item and return the value
val = d.pop(1)
print(val)

# Using popitem to removes and returns
# the last key-value pair.
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")

# Clear all items from the dictionary
d.clear()
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
Geeks
Key: 3, Value: Geeks
{}

In [ ]:
d = {1: 'Geeks', 2: 'For', 'age':22}

# Iterate over keys
for key in d:
    print(key)

# Iterate over values
for value in d.values():
    print(value)

# Iterate over key-value pairs
for key, value in d.items():
    print(f"{key}: {value}")

1
2
age
Geeks
For
22
1: Geeks
2: For
age: 22

In [ ]:
d = {1: 'Geeks', 2: 'For',
        3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

print(d)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [ ]:
"Python List"

In [1]:
# Creating a Python list with different data types
a = [10, 20, "GfG", 40, True]

print(a)

# Accessing elements using indexing
print(a[0])  # 10
print(a[1])  # 20
print(a[2])  # "GfG"
print(a[3])  # 40
print(a[4])  # True

# Checking types of elements
print(type(a[2]))  # str
print(type(a[4]))  # bool

[10, 20, 'GfG', 40, True]
10
20
GfG
40
True
<class 'str'>
<class 'bool'>

In [2]:
# List of integers
a = [1, 2, 3, 4, 5]

# List of strings
b = ['apple', 'banana', 'cherry']

# Mixed data types
c = [1, 'hello', 3.14, True]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [3]:
# List of integers
a = [1, 2, 3, 4, 5]

# List of strings
b = ['apple', 'banana', 'cherry']

# Mixed data types
c = [1, 'hello', 3.14, True]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [4]:
# Create a list [2, 2, 2, 2, 2]
a = [2] * 5

# Create a list [0, 0, 0, 0, 0, 0, 0]
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [5]:
a = [10, 20, 30, 40, 50]

# Access first element
print(a[0])

# Access last element
print(a[-1])

10
50

In [ ]:
# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)
print("After append(10):", a)

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a)

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])
print("After extend([15, 20, 25]):", a)

In [ ]:
a = [10, 20, 30, 40, 50]

# Change the second element
a[1] = 25

print(a)

In [ ]:
a = [10, 20, 30, 40, 50]

# Removes the first occurrence of 30
a.remove(30)
print("After remove(30):", a)

# Removes the element at index 1 (20)
popped_val = a.pop(1)
print("Popped element:", popped_val)
print("After pop(1):", a)

# Deletes the first element (10)
del a[0]
print("After del a[0]:", a)

In [ ]:
a = ['apple', 'banana', 'cherry']

# Iterating over the list
for item in a:
    print(item)

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Access element at row 2, column 3
print(matrix[1][2])